/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 2em;
  width: 100%;
  height: 100%;
  background: black;
background: black;
}

a{
  text-decoration: none;
  font-size: 28px;
  color: rebeccapurple;
}

p{
  text-align: center;
  font-size: 100pt;
  color: white;
  padding-top: 300px;
  padding-bottom: 10px;
  font-family: "Bitter", serif;
  font-weight: 500;
  font-style: italic;
}

h3{
  text-align: center;
  font-size: 150pt;
  color: white;
  padding-top: -100px;
  padding-bottom: 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
}

h4 {
  color: white;
  font-size: 19pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <400>;
  font-style: Regular;
  font-variation-settings:
    "wdth" 50;
}

h1 {
  color: white;
  font-size: 50pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <800>;
  font-style: ExtraBold;
  font-variation-settings:
    "wdth" 10;
  line-height: 0.5;
}

h2 {
  color: white;
  font-size: 25pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  font-variation-settings:
    "wdth" 50;
 }
}

button {
  font-family: "Inconsolata", monospace;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 10px;
  width: 100%;
  /*   text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
}

p {
  font-size: 91pt;
  line-height: 18pt;
}

.left {
  width: 15%;
  padding: 1% 1% 1% 0;
  float: left;
  display: inline-block;
  /*   background-color: red; */
}

.center {
  width: 15%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.right {
  width: 60%;
  padding: 1%;
  float: left;
  display: inline-block;
}

.nav {
  padding: 2%;
  width: 26%;
  height: 100%;
  display: inline-block;
  float: left;
  /*     background-color:red; */
}

.content {
  padding: 2%;
  width: 50%;
  display: inline-block;
  float: left;
  /*   background-color:yellow; */
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  padding: 0px;
  font-size: 20pt;
  list-style-type: none;
  text-decoration: none;
}

#project1 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  text-decoration: none;
}

#project2 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: antiquewhite;
  margin-left: 50px;
  text-decoration: none;
}

#project3 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  text-decoration: none;
}

#project4 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
}

#project5 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
}

#project6 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
}

#project7 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
}

#project8 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
}

#project9 {
  color: black;
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  border-radius: 50px;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 150px;
  float: left;
  width: 500;
  height:80px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  text-decoration: none;
}

li.bullet {
  list-style-type: "- ";
  margin: 1%;
  padding: 0;
}

li.bullet a {
  color: white;
}

li a {
  color: white;
  /*   text-decoration: none; */
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  /*   height: 400px; */
  display: inline-block;
  
  margin-bottom: 2%;
}

.full-width-box {
  width: 100%;
  margin-bottom: 2%;
  display: inline-block;
  float: left;
}

img {
  height: 400px;
  display: inline-block;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
}

body .gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

body .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: white;
}

body .gist .blob-wrapper {
  border-radius: 0;
}

body .gist .highlight {
  background-color: transparent;
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

body .gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

body .gist tr:first-child td {
  padding-top: 15px !important;
}

body .gist tr:last-child td {
  padding-bottom: 15px !important;
}

body .gist .blob-num {
  color: white;
  background-color: #495057;
  pointer-events: none;
}

body .gist .gist-meta {
  display: none;
}

.nav-link {
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}
.nav-link a,
.nav-link a:visited {
  color: black;
  text-decoration: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Inconsolata", monospace;
    margin: 1%;
    width: 98%;
    height: 100%;
  }
  .nav {
    width: 100%;
  }
  .content {
    width: 100%;
    float: left;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.myBox {
  /*   background: red; */

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 1px solid black;
}

.fullwidth {
  width: 100%;
  float: left;
}

.nav{
  display: none;
}

h5 {
#milanote{
  color: grey;
  font-size: 25pt;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: <500>;
  font-style: Medium;
  font-variation-settings:
    "wdth" 50;
   padding-top: 100px;
   padding-bottom: 300px;
 }
}